!!! 5
html
  head
    title JavaScript Unconference
    include includes/head
    meta(name='robots', content='noindex')
  body
    #wrapper
      section#content
        include includes/header

        #contact
          p.
            Robert Kowalski
            <br/>
            Von-Sauer-Str. 33e
            <br/>
            22761 Hamburg
            <br/>
            <br/>
            Telefon: 0176 96917923
            <br/>
            E-Mail: rok@kowalski.gd

      include includes/footer-right
