body {
  background-image: url("../images/gray_jean_@2X.jpg");
  font-family: "Oxygen", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
  color: #171717;
}

a {
  text-decoration: none;
  color: #171717;
}

a:hover {
  text-decoration: underline;
}

div#wrapper {
  text-align: center;
  margin: 50px;
  padding-top: 80px;
}

h1 {
  font-weight: normal;
}

a#title {
  text-decoration: none;
}

div#contact {
  font-size: 0.5em;
}

.footer {
  position: absolute;
  bottom: 30px;
  font-size: 0.5em;
}

.footer.left {
  left: 5%;
}

.footer.right {
  right: 5%;
}